@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");

.bg-custom {
  background-image: url(../resources/navbar.png);
  background-size: contain;
}

.custom-text {
  font-size: 40px;
  font-family: "Fjalla One", sans-serif;
}

.boat-logo {
  height: 70px;
  width: auto;
  opacity: 0.55;
}

.boat-logo:hover {
  opacity: 1;
}

.active-img img {
  opacity: 1;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
